.cover__link {
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)),
    url('../../../images/cover/__background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cover__link:hover {
  background-image: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)),
    url('../../../images/cover/__background.jpg');
}

@media screen and (max-width: 1279px) {
  .cover__link {
    height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link {
    height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    height: 200px;
  }
}
